###### Requirements without Version Specifiers ######
# flake8
# black
numpy
matplotlib
# tensorboard
# pyserial
# scikit-learn
# scikit-learn-intelex
opencv-contrib-python
# sympy
pandas

ipdb
###### Requirements with Version Specifiers ######
attrdict
seaborn
more_itertools
hydra-core
transforms3d